<div class="menu-relative">
  <div class="menu">
    <form (submit)="search()"
          matTooltip="Aperte enter para mostrar a porra toda... Boooommm!">
      <mat-form-field>
        <input width="200" placeholder="Qual o trabalho dos seus sonhos?"
               matInput #jobDescription autofocus>
      </mat-form-field>
    </form>
  </div>
</div>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-ed+6k-30-ac+ty"
     data-ad-client="ca-pub-7422161956329358"
     data-ad-slot="3458304688"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!--<ins class="adsbygoogle"-->
<!--style="display:block"-->
<!--data-ad-format="fluid"-->
<!--data-ad-layout-key="-f9+5v+4m-d8+7b"-->
<!--data-ad-client="ca-pub-7422161956329358"-->
<!--data-ad-slot="6428082959"></ins>-->
<!--<script>-->
<!--(adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->


<div class="flex-container" style=" margin: 0 auto;">
  <ng-container *ngFor="let issue of (all$ | async); trackBy: trackByFn">
    <div class="card" *ngIf="issue | issueGithubFilter:jobDescription.value">
      <a href="{{issue.html_url}}" class="card-link" target="_blank">
      <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="{{issue.user.avatar_url}}" style="border-radius: 3px; width: 60px; height: 60px;">
            <mat-card-title>@{{issue.user.login}}</mat-card-title>
            <mat-card-subtitle>{{issue.title}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <mat-card-content>
          <p> {{issue.body}}</p>
          </mat-card-content> -->
      </mat-card>
    </a>
    </div>
  </ng-container>
</div>


<div class="github-link">
  <a href="https://github.com/netstart/parapasa" target="_blank">
    <svg class="svg" xmlns="http://www.w3.org/2000/svg" aria-labelledby="simpleicons-github-icon" role="img" viewBox="0 0 24 24" width="40" height="40"><title id="simpleicons-github-icon">GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
    </svg>
  </a>
</div>
